@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Light.eot');
	src: url('../fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-LightItalic.eot');
	src: url('../fonts/Open_Sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-LightItalic.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
	src: url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Italic.eot');
	src: url('../fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-Italic.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Semibold.eot');
	src: url('../fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-Semibold.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.eot');
	src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-SemiboldItalic.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
	src: url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-BoldItalic.eot');
	src: url('../fonts/Open_Sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2'),
	url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

body {
	font-family: 'Open Sans';
	font-size: 16px;
	color: #6d6d70;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background: url('../img/foto-header.jpg') no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
}

.single header {
	margin-bottom: 30px;
}

.btn-primary {
	background-color: #2b9795;
	border-color: #2b9795;
}

.page p {
	margin-bottom: 20px;
}

.page li {
	margin-bottom: 15px;
}

.page p:last-child,
.page li:last-child {
	margin-bottom: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #227876;
	border-color: #227876;
}

div.wpcf7-validation-errors {
	background-color: #f76470;
	color: white;
	border: none;
	padding: 15px;
}

header .logo {
	background-color: rgba(255, 255, 255, .7);
	padding: 10px 0;
	z-index: 1;
	position: relative;
}

header .logo .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo .container:before,
header .logo .container:after {
	display: none;
}

header .logo nav {
	font-style: normal;
}

header .logo nav .current-menu-item,
header .logo nav .current_page_parent {
	font-weight: 700;
}

header .logo .btn-menu {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -1000em;
	overflow: hidden;
	background: url('../img/menu.png') no-repeat center center;
	background-size: contain;
}

header .logo .btn-menu.active ~ nav {
	display: block;
}

header .logo nav .menu-main-menu-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

header .logo nav .menu-main-menu-container li {
	display: inline-block;
	margin-left: 20px;
}

header .logo nav .menu-main-menu-container a {
	color: #49a3a1;
}

header .logo img {
	width: 300px;
}

header h1 {
	text-transform: uppercase;
	font-weight: 800;
	margin: 0;
	font-size: 24px;
}

header .motto-1 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}

header .motto-2 {
	font-size: 20px;
	font-weight: 400;
}

header .motto-hr {
	border: 1px solid rgba(255, 255, 255, .8);
	margin: 15px auto;
	width: 200px;
}

main {
	margin-bottom: 50px;
}

.row.compact {
	margin-left: -10px;
	margin-right: -10px;
}

.row.compact > div {
	padding-left: 10px;
	padding-right: 10px;
}

.section-title {
	background-color: #2b9795;
	color: white;
	padding: 10px 15px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin: 0 0 30px;
}

ol.steps {
	list-style: none;
	margin: 0;
	padding: 0;
	counter-reset: my-counter;
	margin-bottom: 30px;
}

ol.steps li {
	counter-increment: my-counter;
	border-bottom: 2px solid #d9646f;
	padding: 15px 0;
}

ol.steps li .title {
	color: #2b9795;
	font-size: 18px;
	margin-bottom: 10px;
}

ol.steps li:before {
	content: counter(my-counter);
	background-color: #2b9795;
	display: block;
	text-align: center;
	color: white;
	margin: -17px auto 15px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
}

ol.steps li:last-child {
	border-bottom: none;
}

label {
	font-weight: 600;
}

.available-24-7 {
	color: white;
	background: url('../img/foto2.jpg') no-repeat center;
	background-size: cover;
	text-transform: uppercase;
	text-align: center;
}

.available-24-7 .item {
	padding: 15px 0;
}

.available-24-7 .line-1 {
	font-weight: 700;
	font-size: 24px;
}

.services .service {
	font-size: 14px;
	margin-bottom: 15px;
}

.services .service .inner {
	background: #f1f2f2;
	padding: 15px 10px;
}

.services .service h4 {
	margin: 0;
}
.services .service .title {
	color: #d9646f;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
}

.services .service .title:after {
	content: "";
	display: block;
	border: 1px solid #d9646f;
	margin: 15px auto;
	width: 100px;
}

.advantages {
	background-color: #f1f2f2;
	padding: 40px 0;
	margin-top: 30px;
}

.advantages .item {
	padding-left: 42px;
	font-size: 12px;
	margin-bottom: 15px;
}

.advantages .item img {
	float: left;
	margin-left: -42px;
	margin-top: -5px;
}

.advantages .item .title {
	color: #2b9795;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 12px;
}

.advantages .column:nth-of-type(3n+1) {
	clear: both;
}

.single h2 {
	background-color: #2b9795;
	color: white;
	padding: 5px 15px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin: 30px 0;
}

.single-post,
.blog,
.archive {
	background-color: #f6f6f6;
}

.single-post header,
.blog header,
.archive header {
	border-bottom: 5px solid #49a3a1;
	font-style: italic;
	position: relative;
}

.single-post header:after,
.blog header:after,
.archive header:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	box-shadow: inset 0px -100px 300px 0px rgba(0,0,0,0.5);
	z-index: 0;
}

.single-post header h1,
.blog header h1,
.archive header h1 {
	position: relative;
	z-index: 2;
	text-transform: none;
}

.blog header h1,
.archive header h1 {
	text-transform: uppercase;
	font-style: normal;
}

.blog header p,
.archive header p {
	margin-top: 35px;
}

.single-post .inner-header,
.blog .inner-header,
.archive .inner-header  {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
}

.single-post .post-content {
	font-size: 16px;
	line-height: 24px;
}

.single-post .post-content:before {
	content: '';
	display: block;
	width: 70px;
	height: 4px;
	background-color: #f66470;
	margin-bottom: 25px;
}

.single-post .post-content p,
.single-post .post-content ul,
.single-post .post-content ol {
	margin-bottom: 40px;
}

.single-post .post-author img,
.single-post .post-author div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.single-post .post-author span {
	display: block;
}

.single-post .post-author .author-name {
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	color: #49a3a1;
}
.single-post .post-author .post-date {
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	color: #49a3a1;
}

.blog .post-wrapper .row,
.archive .post-wrapper .row {
	display: flex;
	flex-wrap: wrap;
}

.blog .box-post,
.archive .box-post {
	display: block;
	border-top: 5px solid #fff;
	background: #fff;
	margin-bottom: 25px;
	padding-bottom: 54px;
	height: calc(100% - 25px);
	position: relative;
}

.blog .box-post .gfx,
.archive .box-post .gfx {
	height: 300px;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	padding: 15px;
}

.blog .box-post h2,
.archive .box-post h2 {
	font-weight: 700;
	font-style: italic;
	font-size: 24px;
	color: #fff;
	margin: 0;
}

.blog .box-post .read-more,
.archive .box-post .read-more {
	display: block;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	background-color: #49a3a1;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.blog .box-post p,
.archive .box-post p {
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: #878787;
	padding: 15px;
	margin: 0;
}

.blog .box-post:hover,
.archive .box-post:hover  {
	border-top: 5px solid #f66470;
	text-decoration: none;
}

.blog .categories,
.archive .categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 15px 0;
}

.blog .categories li,
.archive .categories li {
	display: inline-block;
	margin: 10px 0;
}

.blog .categories a,
.archive .categories a {
	display: inline-block;
	font-weight: 600;
	// font-size: 18px;
	font-size: 14px;
	color: #b7b7b7;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	min-width: 120px;
	border: 2px solid transparent;
}

.blog .categories a:hover,
.archive .categories a:hover {
	color: #49a3a1;
}

.blog .categories .current-cat a,
.archive .categories .current-cat a {
	font-weight: 700;
	color: #49a3a1;
	border: 2px solid #49a3a1;
}

.blog .pagination,
.archive .pagination {
	display: block;
	width: 100%;
	text-align: center;
}

.blog .pagination h2,
.archive .pagination h2 {
	display: none;
}

.blog .pagination .page-numbers,
.archive .pagination .page-numbers {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background: #fff;
	color: #49a3a1;
	line-height: 30px;
	text-align: center;
}

.blog .pagination .page-numbers:hover,
.archive .pagination .page-numbers:hover {
	text-decoration: none;
}

.blog .pagination .page-numbers.current,
.archive .pagination .page-numbers.current {
	background-color: #49a3a1;
	color: #fff;
	font-weight: 700;
}

.box-posts {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
}

.box-posts:last-child {
	margin-bottom: 0;
}


.box-posts h3 {
	font-weight: 700;
	font-size: 24px;
	color: #878787;
	margin: 0;
}

.box-posts ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.box-posts li {
	margin-top: 20px;
	padding-bottom: 20px;
}

.box-posts .post-title {
	font-weight: 700;
	font-style: italic;
	font-size: 16px;
	color: #303030;
}

.box-posts img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.box-posts p {
	font-weight: 300;
	font-style: italic;
	font-size: 12px;
	color: #878787;
}

.box-posts a {
	color: inherit;
}
.box-posts a:hover {
	text-decoration: none;
}

.box-posts .read-more {
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	color: #49a3a1;
	text-transform: uppercase;
	float: right;
}

footer {
	border-top: 2px solid #bbbdbf;
	padding: 30px 0;
}

.single footer {
	margin-top: 30px;
}

footer .logo img {
	display: block;
	width: 250px;
	margin: 0 auto;
}
footer nav {
	margin-top: 20px;
}
footer nav ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
	text-align: center;
}
footer nav ul li {
	display: inline-block;
}

footer nav ul li:after,
footer nav ul li a {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	color: #bbbdbf;
	text-transform: uppercase;
}

footer nav ul li a:hover {
	color: #5c5c5c;
}

footer nav ul li:after {
	content: "|";
	vertical-align: top;
	font-weight: bold;
}

footer nav ul li:last-child:after {
	content: none;
}

.cdp-cookies-alerta {
	width: 100%;
}

.cdp-cookies-layout-ventana.cdp-cookies-pos-inferior {
	display: none;
	position: fixed;
	bottom: 0;
}

.cdp-cookies-alerta {
	background-color: rgba(43, 151, 149, .9) !important;
	border: none !important;
}

.cdp-cookies-alerta .cdp-cookies-texto {
	padding: 10px 0;
	position: relative;
}

.cdp-cookies-alerta .cdp-cookies-texto .title {
	font-size: 14px;
	margin-bottom: 5px;
}

.cdp-cookies-alerta h4 {
	color: white;
	font-size: 14px;
}

.cdp-cookies-alerta .cdp-cookies-texto,
.cdp-cookies-alerta .cdp-cookies-texto a {
	color: white;
}

.cdp-cookies-alerta .cdp-cookies-texto p {
	font-size: 13px;
	line-height: 18px;
	font-weight: 300;
}

.cdp-cookies-alerta .cdp-cookies-texto a {
	text-decoration: underline;
}

.cdp-cookies-alerta .cdp-cookies-texto a.cdp-cookies-boton-cerrar {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0;
}
.cdp-cookies-alerta .cdp-cookies-texto a.cdp-cookies-boton-cerrar:before {
	content: "x";
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: rgba(0,0,0,.8);
	color: white;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
}

.sidebar .widget {
	padding: 15px;
}

.sidebar a {
	color: #666;
}

.sidebar a:hover {
	color: #2b9795;
}

.sidebar h3 {
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.sidebar ul {
	list-style-type: none;
	padding-left: 0;
}

.sidebar .widget.related-services li {
	font-size: 14px;
	line-height: 25px;
}

.sidebar .widget.related-services li:before {
	content: "»";
	display: inline-block;
	margin-right: 5px;
}

.page h2 {
	font-size: 20px;
	color: black;
	margin: 20px 0;
}

.home h2 {
	color: white;
}

/*
 * Only mobile
 */
@media (max-width: 767px) {
	ol.steps {
		margin-top: 30px;
	}

	ol.steps li {
		padding: 0 0 30px;
	}

	ol.steps li:first-child {
		border-top: 2px solid #d9646f;
	}

	ol.steps li .title {
		margin-top: -5px;
	}
}

@media (max-width: 1023px) {
	header .logo .btn-menu {
		display: block;
	}

	header .logo nav {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: rgba(255,255,255, 1);
		padding: 20px;
	}
	header .logo nav .menu-main-menu-container li {
		display: block;
		padding: 10px;
	}
}

/*
 * Bigger than mobile
 */
@media (min-width: 768px) {


	header .motto-1 {
		font-size: 30px;
	}

	header .motto-2 {
		font-size: 28px;
	}

	.single header .inner-header {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.single header h1 {
		font-size: 36px;
	}
	.blog header h1,
	.archive header h1 {
		font-size: 36px;
	}

	.single-post header {
		margin-bottom: 50px;
	}

	.blog header,
	.archive header {
		margin-bottom: 20px;
	}

	.single-post header .inner-header {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 300px;
	}

	.blog header .inner-header,
	.archive header .inner-header {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.blog .categories,
	.archive .categories {
		margin-bottom: 30px;
	}

	.single-post .post-content {
		font-size: 18px;
		line-height: 26px;
	}

	ol.steps li {
		padding: 60px 15px;
	}

	ol.steps li:nth-child(1) {
		background: url('/wp-content/uploads/2016/10/step-1.png') no-repeat right 30px;
		padding-right: 250px;
	}

	ol.steps li:nth-child(2) {
		background: url('/wp-content/uploads/2016/10/step-2.png') no-repeat left 60px;
		padding-left: 260px;
	}

	ol.steps li:nth-child(3) {
		background: url('/wp-content/uploads/2016/10/step-3.png') no-repeat right 60px;
		padding-right: 250px;
	}

	ol.steps li:before {
		margin: 0 0 0 -40px;
		float: left;
	}

	.section-title {
		font-size: 28px;
	}

	.available-24-7 .line-1 {
		font-size: 30px;
	}

	.available-24-7 .line-2 {
		font-size: 20px;
	}

	.services .service:nth-of-type(3n+1) {
		clear: both;
	}

	.services .service .inner {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.advantages {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.advantages .item .title {
		font-size: 15px;
	}

	.advantages .item {
		padding-top: 10px;
	}

	.advantages .column:first-child .item {
		padding-top: 0;
	}
	footer nav {
		margin-top: 0;
	}

	footer nav ul {
		text-align: right;
	}
}

@media (min-width: 1024px) {
	.single-post header,
	.blog header,
	.archive header {
		margin-bottom: 80px;
	}

	.single-post header .inner-header {
		height: 600px;
	}

	.blog header .inner-header,
	.archive header .inner-header {
		height: 500px;
	}

	.single-post header h1,
	.blog header h1,
	.archive header h1 {
		font-size: 60px;
	}

	.blog .categories,
	.archive .categories {
		margin: 0 0 70px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 963px;
	}
}